<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon-58x58.png</string>
				<string>AppIcon-80x80.png</string>
				<string>AppIcon-87x87.png</string>
				<string>AppIcon-120x120.png</string>
				<string>AppIcon-180x180.png</string>
			</array>
		</dict>
	</dict>
	<key>UILaunchImages</key>
	<array>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
		    <string>7.0</string>
		    <key>UILaunchImageName</key>
		    <string>LaunchImage</string>
		    <key>UILaunchImageOrientation</key>
		    <string>Portrait</string>
		    <key>UILaunchImageSize</key>
		    <string>{375, 667}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
		    <string>7.0</string>
		    <key>UILaunchImageName</key>
		    <string>LaunchImage</string>
		    <key>UILaunchImageOrientation</key>
		    <string>Portrait</string>
		    <key>UILaunchImageSize</key>
		    <string>{320, 568}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
		    <string>7.0</string>
		    <key>UILaunchImageName</key>
		    <string>LaunchImage</string>
		    <key>UILaunchImageOrientation</key>
		    <string>Portrait</string>
		    <key>UILaunchImageSize</key>
		    <string>{360, 640}</string>
		</dict>
	</array>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleGetInfoString</key>
	<string>Created by Qt/QMake</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleExecutable</key>
	<string>c2gQtCon_x</string>
	<key>CFBundleIdentifier</key>
	<string>org.ekkescorner.c2g.qtcon</string>
	<key>CFBundleDisplayName</key>
	<string>QtCon</string>
	<key>CFBundleName</key>
	<string>QtCon</string>
	<key>CFBundleShortVersionString</key>
        <string>1.4</string>
	<key>CFBundleVersion</key>
        <string>1.4</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>MyLaunchScreen</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>NOTE</key>
	<string>This file was generated by Qt/QMake.</string>
</dict>
</plist>
